@external .org-reactome-web-pwp-client-hierarchy-widget-HierarchyItem-ResourceCSS-hierarchyItem;
@external .org-reactome-web-pwp-client-hierarchy-widget-HierarchyItem-ResourceCSS-hierarchyItemSelected;
@external .org-reactome-web-pwp-client-hierarchy-widget-HierarchyItem-ResourceCSS-hierarchyItemHighlighted;

.hierarchyPanelTitle {
    background-color: rgb(88, 195, 229);
    color: white;
    font-weight: bolder;
    padding: 5px;
}

.hierarchyPanelTitle img {
    height: 12px !important;
    width: 12px !important;
    margin-right: 5px;
}

.hierarchyContainer {
    background-color: rgb(88, 195, 229);
    border: 0 solid transparent;
    border-radius: 0 15px 0 0;

    /*No selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hierarchyPanel {
    background-color: white;
    border: 0 solid transparent;
    border-radius: 0 15px 0 0;
}

.hierarchyFirstTree .org-reactome-web-pwp-client-hierarchy-widget-HierarchyItem-ResourceCSS-hierarchyItem {
    color: SlateBlue;
    font-weight: bold;
}

.hierarchyFirstTree .org-reactome-web-pwp-client-hierarchy-widget-HierarchyItem-ResourceCSS-hierarchyItemSelected {
    color: white;
}

.hierarchyFirstTree .org-reactome-web-pwp-client-hierarchy-widget-HierarchyItem-ResourceCSS-hierarchyItemHighlighted {
    color: white;
}

